.enjoy1 {
    background-color: black;
}
.titles {
    font-size: 5rem;
    text-shadow: 4px 4px 0 rgb(253, 1, 1);
}
.caja {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    
}
.caja1 {
    font-size: 1.2rem;
}